<div class="blog-box">
  <div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p class="blog-box-created-by">Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>

{{#if logged_in}}
<div class="col-md-6 whole-form comment-form">
  <div class="form-title">
    <h3>Leave a Comment</h3>
  </div>
  <form class="form">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-input" type="text" id="comment" name="comment"></textarea>
    </div>
    <div class="form-group">
      <button class="btn" id="form-btn" type="submit">Post Your Comment</button>
    </div>
  </form>
</div>
{{else}}
  <p><a href="/login">Sign in to comment</a></p>
{{/if}}

<!-- Loop over each comment in the comments array -->

<div class="col-md-6 posted-comment">
  <div class="current-blogs-title">
    <h3>Comments:</h3>
  </div>
  {{#each comments}}
  <div class="row mb-2" id="dashboard-row">
    <span class="created-by">{{user.username}} says.... </span>
    <div class="col-md-10">
      {{comment}}
    </div>
    <p>on {{format_date date_created}}</p>
  </div>
  {{#if logged_in}}
  <div class="col-md-2">
    <button class="btn btn-sm" id="delete" data-id="{{comment.id}}">DELETE</button>
  </div>
  {{/if}}
  {{/each}}
</div>


<script src="./js/comment.js"></script>