{{!-- connects to comment.js --}}
{{!-- displays content of blog post after user clicks on blog title (from homepage or dashboard) --}}
<div class="blog-box">
  <div class="text-center">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p class="blog-box-created-by">Created by {{user.username}} on {{format_date date_created}}</p>
  </div>
</div>

{{!-- allows user to comment with a comment form when logged in --}}
{{#if logged_in}}
<div class="col-md-6 whole-form comment-form">
  <div class="form-title">
    <h3>Leave a Comment</h3>
  </div>
  <form class="form actual-comment-form">
    <div class="form-group">
      <label for="comment">Comment:</label>
      <textarea class="form-input" id="comment" name="comment"></textarea>
    </div>
    <div class="form-group">
      <button class="btn" id="form-btn" type="submit">Post Your Comment</button>
    </div>
  </form>
</div>
{{!-- if user is not logged in, this prompts them to log in to be able to comment --}}
{{else}}
<div class="join-conversation">
  <a href="/login">Join the conversation! Sign in to comment</a>
</div>
{{/if}}

{{!-- this section displays the comments made below the blog post --}}
<div class="col-md-12 posted-comment">
  <div class="comment-section-title">
    <h3>Comments:</h3>
  </div>
  {{#each comments}}
  <div class="row mb-2" id="comment-section-row">
    <span class="created-by">{{user.username}} says.... </span>
    <div class="col-md-10 comment-text">
      {{comment}}
    </div>
    <p>on {{format_date date_created}}</p>
  </div>
  {{#if logged_in}}
  <div class="col-md-2">
    <button class="btn btn-sm" id="delete" data-id="{{comment.id}}">DELETE</button>
  </div>
  {{/if}}
  {{/each}}
</div>


<script src="/js/comment.js"></script>