{{!-- Dashboard page display --}}
{{!-- connects to dashboard.js --}}
{{!-- Form that allows logged in user to write a new blog post --}}
<div class="row mt-4">
  <div class="col-md-6">
    <div class="whole-form">
    <div class="form-title">
    <h3>Write a New Blog Post:</h3>
    </div>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title"/>
      </div>
      <div class="form-group">
        <label for="blog-content">Content:</label>
        <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn" id="form-btn">Create</button>
      </div>
    </form>
  </div>
  </div>

  {{!-- displays all blog titles logged in user has written with buttons to update or delete the posts they wrote --}}
  <div class="col-md-6 blog-list">
    <div class="current-blogs-title">
    <h3>Current Blogs:</h3>
    </div>
{{#if blogs.length}}
    {{#each blogs as |blog|}}
    <div class="row mb-2" id="dashboard-row">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-2">
        <a href="/dashboard/update/{{id}}"><button class="btn btn-sm" id="update">Update</button></a>
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm" id="delete" data-id="{{blog.id}}">Delete</button>
      </div>
    </div>
    {{/each}} 
    {{!-- lets the user know they have not written any blog posts if they haven't --}}
    {{else}}
    <p class ="no-entries-paragraph">You currently have no blog entries.</p>
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
