<!-- Loop over each object in the blogs array and grabs title, content, username, and date for display on homepage -->
{{#each blogs as |blog| }}
<div class=" row homepage-row mb-4 blog">
  <div class="row-header">
    <h3>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
      <span class="created-by">Created by {{blog.user.username}} on {{format_date blog.date_created}}</span>
    </h3>
  </div>
  <p>
    {{blog.content}}
  </p>
</div>
{{/each}}